Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
/Growl for Skype Notification/publish/Application Files/Growl for Skype Notification_0_9_0_0/Growl for Skype Notification.application
/Growl for Skype Notification/publish/Application Files/Growl for Skype Notification_0_9_0_0/Growl for Skype Notification.exe.config.deploy
/Growl for Skype Notification/publish/Application Files/Growl for Skype Notification_0_9_0_0/Growl for Skype Notification.exe.deploy
/Growl for Skype Notification/publish/Application Files/Growl for Skype Notification_0_9_0_0/Growl for Skype Notification.exe.manifest
/Growl for Skype Notification/publish/Application Files/Growl for Skype Notification_0_9_0_0/Growl.Connector.dll.deploy
/Growl for Skype Notification/publish/Application Files/Growl for Skype Notification_0_9_0_0/Growl.CoreLibrary.dll.deploy
/Growl for Skype Notification/publish/Application Files/Growl for Skype Notification_0_9_0_0/Resources/skype.ico.deploy
/Growl for Skype Notification/publish/Growl for Skype Notification.application
/Growl for Skype Notification/publish/index.html